body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ilyimgholder {
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-sizing: border-box;
}

.maindiv {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}